@font-face {
    font-family: 'abipti';
    src: url('../../assets/fonts/abipti.ttf') format('truetype');
}

@font-face {
    font-family: 'good times rg';
    src: url('../../assets/fonts/good times rg.otf') format('opentype');
}

.container {
    margin-bottom: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header.header-scrolled {
    background: #fff;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .brand img {
    height: 4rem;
}

.header .brand .brand-fname {
    font-family: abipti;
    font-size: 3.0rem;
    color: var(--color-1);
    text-transform: uppercase;
}

.header .brand .brand-lname {
    font-family: 'good times rg';
    font-size: 1.5rem;
    color: var(--color-2);
}

.header nav {
    font-size: 1.2rem;
    font-weight: 500;
}

.header nav a {
    color: var(--grey-color);
    color: #767676;
}

.header nav a:hover {
    color: var(--color-4);
}

.header nav a.active {
    color: var(--color-2);
}

.header .nav-toggle,
.header nav .close {
    font-size: 2.5rem;
    color: var(--primary-color);
    display: none;
    cursor: pointer;
}


@media (max-width:1399px) {}

@media (max-width:1199px) {}

@media (min-width:768px) and (max-width:991px) {

    .header .container.flex {
        flex-direction: column;
    }

    .header .container.flex .brand {
        align-self: start;
    }

    .header .container.flex nav {
        align-self: end;
    }
}

@media (max-width:767px) {

    .header nav {
        position: absolute;
        top: 0;
        left: -100%;
        background: #fff;
        width: 100%;
        height: 100vh;
        padding: 70px 0;
        transition: 0.5s;
    }

    .header nav.active {
        left: 0;
        transition: 0.5s;
    }

    .header nav .flex {
        flex-direction: column;
    }

    .header nav .close {
        position: absolute;
        top: 26px;
        right: 24px;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .header .nav-toggle,
    .header nav .close {
        display: unset;
    }


    .header .container .flex {
        gap: 0.5em;
    }

    .header nav {
        font-size: 1.5rem;
    }
}

@media (max-width:575px) {}

@media (max-width:475px) {
    .header .brand-name.flex {
        flex-direction: column;
    }
}