<section class="footer">

    <div class="footer-top">
        <div class="container flex">

            <div class="footer-info">
                <div class="brand flex">
                    <span class="">
                        <a class="" routerLink="">
                            <img src="../../assets/img/logo/main.png" alt="" />
                        </a>
                    </span>
                </div>
            </div>

            <div class="footer-links">
                <h6>Navigation</h6>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="about">About</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="products">Products</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="services">Services</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="contact">Contact</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <h6>Our Works</h6>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="https://vaishaliapp.in" target="_blank">Vaishali Home Appliances</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="https://conceptoclasses.in" target="_blank">Concepto Classes</a></li>
                </ul>
            </div>

            <div class="footer-contact">
                <h6>Contact Us</h6>
                <p>
                    Jhitkahiyan, Brahmpura
                    <br /> Muzaffarpur - 842003
                    <br />  <br />
                    <strong>Phone:</strong> +91 - 9007971028<br>
                    <strong>Email:</strong> query&#64;optimoinfotech.in<br>
                </p>

            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>
                    <span>Optimo Infotech</span>
                </strong>. All Rights Reserved
            </div>
        </div>
    </div>
</section>