
<section class="hero">
    <div class="container flex">
        <div class="hero-text">
            <h1>Lost in cyberspace?</h1>
            <p>It looks like that the page doesn't exist - please check the URL and try again.</p>
            <a href="" class="btn-default">
                Go to Home Page
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
        <div class="hero-img">
            <img class="img-fluid" src="../../assets/img/hero-img.png" alt="">
        </div>
    </div>
</section>
