<section class="hero">
    <div class="container flex">
        <div class="hero-text">
            <h1 class="animate">Elevating Your Digital Future</h1>
            <p class="animate delay-5">with Cutting-Edge IT Solutions</p>
        <div class="animate delay-10">
        <a href="/products" class="btn-default">
                Get Started
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
        <div class="hero-img">
            <img class="img-fluid animate-zoom-in" src="../../assets/img/hero-img.png" alt="">
        </div>
    </div>
</section>
