<common></common>

<section class="products">

    <div class="container">

        <h2>Our Featured Products</h2>

        <div class="items">

            <div class="item animate delay-3">
                <h3>Atom Inventory</h3>
                <p>A comprehensive solution for effortless stock control, inventory optimization, and seamless customer
                    service. Elevate your grocery store management today.</p>
                <div>
                    <a href="coming-soon" class="btn btn-default">Explore &gt;</a>
                </div>
            </div>

            <div class="item animate delay-5">
                <h3>Billr</h3>
                <p>The easy, user-friendly solution for hassle-free invoicing. Simplify your billing process today.</p>
                <div>
                    <a href="coming-soon" class="btn btn-default">Explore &gt;</a>
                </div>
            </div>

            <div class="item animate delay-7">
                <h3>Billr Pro</h3>
                <p>Experience efficiency like never before with Billr Pro App. Simplify billing, automate invoicing, and
                    stay organized. Take control of your financial management today!</p>
                <div>
                    <a href="coming-soon" class="btn btn-default">Explore &gt;</a>
                </div>
            </div>

            <div class="item animate delay-3">
                <h3>StoreWare</h3>
                <p>Welcome to the future of store management! Our app empowers retailers with real-time inventory
                    control, ware-house management, sales analytics, and customer engagement tools. Elevate your store
                    today!</p>
                <div>
                    <a href="coming-soon" class="btn btn-default">Explore &gt;</a>
                </div>
            </div>

            <div class="item animate delay-5">
                <h3>ServiceWare</h3>
                <p>Your ultimate solution for efficient service request management, seamless communication, and customer
                    satisfaction. Revolutionize your service operations today!</p>
                <div>
                    <a href="coming-soon" class="btn btn-default">Explore &gt;</a>
                </div>
            </div>

            <div class="item animate delay-7">
                <h3>WorkEdge</h3>
                <p>Elevate your HR operations with our HRMS application, simplifying workforce management, enhancing
                    data-driven decisions, and boosting employee engagement. Streamline HR in the digital era.</p>
                <div>
                    <a href="coming-soon" class="btn btn-default">Explore &gt;</a>
                </div>
            </div>

        </div>

    </div>

</section>