@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* - - - Reset Default - - - */

h1:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* - - - End Default - - - */



/* - - - Root - - - */

:root {
    font-size: 20px;
    --primary-color: #0854c4;
    --secondary-color: #018391;
    --light-color: #ecf3ff;
    --body-color: #333;
    --white-color: #fff;
    --grey-color: #767676;
    --color-1: #2e6b75;
    --color-2: #018391;
    --color-3: #49858F;
    --color-4: #92C3BE;
    --color-5: #B9CDD0;
    --color-6: #EFF6FA;
    --color-7: #C1DCE0;
}

@media screen and (max-width: 1399px) {
    :root {
        font-size: 19px;
    }
}

@media screen and (max-width: 1199px) {
    :root {
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    :root {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 575px) {
    :root {
        font-size: 12px;
    }
}

/* - - - End Root - - - */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: var(--body-color);
}


h1 {
    font-family: 'Black Ops One';
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    word-spacing: 1.0rem;
    letter-spacing: 0.2rem;
    color: var(--color-1);
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 30px 0;
    color: var(--color-1);
}

h3 {
    font-size: 2.0rem;
    font-weight: 400;
    /* padding:20px 0 0px 0; */
    color: var(--color-2);
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 15px 0;
    color: var(--color-2);
}

h5 {
    font-size: 1.2rem;
    font-weight: 300;
    /* padding: 10px 0; */
    color: var(--color-4);
    text-transform: uppercase;
}

h6 {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 15px 0 12px;
    color: var(--color-3);
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
    /* padding: 15px 0 50px 0; */
    margin: 15px 0 50px 0;
    color: var(--grey-color);
}




/* - - - Container - - - */

.container {
    max-width: 80%;
    margin: auto;
    margin-bottom: 50px;
    padding: 1.0rem 1.0rem;
}

@media (max-width:1399px) {
    .container {
        max-width: 90%;
        padding: 1.0rem 0.8rem;
    }
}

@media (max-width:1199px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width:991px) {}

@media (max-width:767px) {}

@media (max-width:575px) {}

/* - - - End Container - - - */

.show {
    display: block;
}

.hide {
    display: none;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-banner {
    width: 100%;
    height: auto;
}



.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.0rem;
}

.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.0rem;
}



/* - - - Default Button - - - */

.btn-default {
    padding: 15px 40px;
    border-radius: 50px;
    color: var(--white-color);
    background: var(--color-3);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    font-size: 1.15rem;
    letter-spacing: 1px;
    transition: 0.5s;
}

.btn-default:hover {
    background: var(--color-5);
    color: var(--color-1);
}

.btn-default i {
    margin-left: 5px;
    font-size: 1rem;
    transition: 0.3s;
}

.btn-default:hover i {
    transform: translateX(5px);
}



@media (max-width:1399px) {}

@media (max-width:1199px) {

    .btn-default {
        padding: 12px 30px;
    }

}

@media (max-width:991px) {}

@media (max-width:767px) {}

@media (max-width:575px) {

    .btn-default {
        padding: 10px 20px;
    }

    .btn-default i {
        margin-left: 5px;
    }
}


/* - - - End Default Button - - - */







/* - - - Animation - - - */

.animate {
    opacity: 0;
}

.animate-slide-up {
    animation-name: slideUp;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
}

.animate.delay-1 {
    animation-delay: 0.1s;
}

.animate.delay-2 {
    animation-delay: 0.2s;
}

.animate.delay-3 {
    animation-delay: 0.3s;
}

.animate.delay-4 {
    animation-delay: 0.4s;
}

.animate.delay-5 {
    animation-delay: 0.5s;
}

.animate.delay-6 {
    animation-delay: 0.6s;
}

.animate.delay-7 {
    animation-delay: 0.7s;
}

.animate.delay-8 {
    animation-delay: 0.8s;
}

.animate.delay-9 {
    animation-delay: 0.9s;
}

.animate.delay-10 {
    animation-delay: 1.0s;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.animate-zoom-in {
    animation-name: animateZoomIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes animateZoomIn {
    0% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}


/* - - - End Animation - - - */
